@import url('./variables.css');

h1{
    font-size: 8rem;

}

body{
    display: block;
    background-color: var(--papaya);
    
}

h2{
    font-size: 5rem;
}

h2, h1{
    margin: 1rem;
    color: white;
}