.grid-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
    
}

.grid-item{
    background:white;
    border-radius: 5px;
    padding-bottom: .5rem;
    padding: .1rem .1rem .5rem .1rem;
    
}

.images {
    text-align: center;

}

